<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>4e8a09ff-e8eb-470d-8633-71414e89a701</InstrumentationKey>
	<TelemetryInitializers> 
		<Add Type="Microsoft.ApplicationInsights.ServiceFabric.FabricTelemetryInitializer, Microsoft.AI.ServiceFabric"/>
	</TelemetryInitializers>
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule, Microsoft.AI.PerfCounterCollector">
      <Counters>
        <Add PerformanceCounter="\Objects\Processes"/> 
        <!--<Add PerformanceCounter="\Sales(electronics)\# Items Sold / Sec" ReportAs="Item sales rate"/>-->
      </Counters>
    </Add>
  </TelemetryModules>
</ApplicationInsights>