<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights.ServiceFabric" version="1.1.0-beta1" />
  <package id="Microsoft.Diagnostics.EventFlow" version="1.1.0" />
  <package id="Microsoft.Diagnostics.EventFlow.ServiceFabric" version="1.1.4" />
  <package id="Microsoft.VisualStudio.Azure.Fabric.MSBuild" version="1.6.1" targetFramework="net461" />
</packages>